## Import Necessry Libraries

In [1]:
import pandas as pd
import numpy as np

## Import Dataset

In [2]:
claiments_data = pd.read_csv('claimants.csv')
claiments_data.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

In [3]:
## Attributes

In [4]:
claiments_data.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

In [5]:
claiments_data.tail()

      CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE   LOSS
1335    34100         1     0.0       1.0       0.0     NaN  0.576
1336    34110         0     1.0       1.0       0.0    46.0  3.705
1337    34113         1     1.0       1.0       0.0    39.0  0.099
1338    34145         0     1.0       0.0       0.0     8.0  3.177
1339    34153         1     1.0       1.0       0.0    30.0  0.688

In [6]:
claiments_data.head(10)

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038
5       97         0     1.0       1.0       0.0    35.0   0.309
6       10         0     0.0       1.0       0.0     9.0   3.538
7       36         0     1.0       1.0       0.0    34.0   4.881
8       51         1     1.0       1.0       0.0    60.0   0.874
9       55         1     0.0       1.0       0.0     NaN   0.350

In [7]:
claiments_data.tail(10)

      CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE   LOSS
1330    34011         1     0.0       1.0       0.0    33.0  6.817
1331    34030         0     1.0       1.0       0.0     3.0  0.950
1332    34066         1     1.0       1.0       0.0     9.0  0.000
1333    34089         1     0.0       1.0       0.0    49.0  0.000
1334    34104         1     1.0       1.0       0.0    16.0  0.060
1335    34100         1     0.0       1.0       0.0     NaN  0.576
1336    34110         0     1.0       1.0       0.0    46.0  3.705
1337    34113         1     1.0       1.0       0.0    39.0  0.099
1338    34145         0     1.0       0.0       0.0     8.0  3.177
1339    34153         1     1.0       1.0       0.0    30.0  0.688

In [8]:
claiments_data.shape

(1340, 7)

In [10]:
claiments_data.dtypes

CASENUM       int64
ATTORNEY      int64
CLMSEX      float64
CLMINSUR    float64
SEATBELT    float64
CLMAGE      float64
LOSS        float64
dtype: object

In [11]:
claiments_data.columns

Index(['CASENUM', 'ATTORNEY', 'CLMSEX', 'CLMINSUR', 'SEATBELT', 'CLMAGE',
       'LOSS'],
      dtype='object')

In [14]:
list(claiments_data.columns)

['CASENUM', 'ATTORNEY', 'CLMSEX', 'CLMINSUR', 'SEATBELT', 'CLMAGE', 'LOSS']

In [17]:
claiments_data.CASENUM.value_counts()

1010     3
590      3
6330     3
10300    2
640      2
        ..
703      1
33455    1
685      1
4780     1
9600     1
Name: CASENUM, Length: 1283, dtype: int64

In [18]:
claiments_data.axes

[RangeIndex(start=0, stop=1340, step=1),
 Index(['CASENUM', 'ATTORNEY', 'CLMSEX', 'CLMINSUR', 'SEATBELT', 'CLMAGE',
        'LOSS'],
       dtype='object')]

In [19]:
claiments_data.ndim

2

In [20]:
claiments_data.size

9380

In [21]:
claiments_data.values

array([[5.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 5.0000e+01,
        3.4940e+01],
       [3.0000e+00, 1.0000e+00, 1.0000e+00, ..., 0.0000e+00, 1.8000e+01,
        8.9100e-01],
       [6.6000e+01, 1.0000e+00, 0.0000e+00, ..., 0.0000e+00, 5.0000e+00,
        3.3000e-01],
       ...,
       [3.4113e+04, 1.0000e+00, 1.0000e+00, ..., 0.0000e+00, 3.9000e+01,
        9.9000e-02],
       [3.4145e+04, 0.0000e+00, 1.0000e+00, ..., 0.0000e+00, 8.0000e+00,
        3.1770e+00],
       [3.4153e+04, 1.0000e+00, 1.0000e+00, ..., 0.0000e+00, 3.0000e+01,
        6.8800e-01]])

In [22]:
claiments_data.value_counts

<bound method DataFrame.value_counts of       CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0           5         0     0.0       1.0       0.0    50.0  34.940
1           3         1     1.0       0.0       0.0    18.0   0.891
2          66         1     0.0       1.0       0.0     5.0   0.330
3          70         0     0.0       1.0       1.0    31.0   0.037
4          96         1     0.0       1.0       0.0    30.0   0.038
...       ...       ...     ...       ...       ...     ...     ...
1335    34100         1     0.0       1.0       0.0     NaN   0.576
1336    34110         0     1.0       1.0       0.0    46.0   3.705
1337    34113         1     1.0       1.0       0.0    39.0   0.099
1338    34145         0     1.0       0.0       0.0     8.0   3.177
1339    34153         1     1.0       1.0       0.0    30.0   0.688

[1340 rows x 7 columns]>

## Statistics

In [24]:
claiments_data.describe()

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS
count,1340.000000,1340.000000,1328.000000,1299.000000,1292.000000,1151.000000,1340.000000
mean,11202.001493,0.488806,0.558735,0.907621,0.017028,28.414422,3.806307
std,9512.750796,0.500061,0.496725,0.289671,0.129425,20.304451,10.636903
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4177.000000,0.000000,0.000000,1.000000,0.000000,9.000000,0.400000
50%,8756.500000,0.000000,1.000000,1.000000,0.000000,30.000000,1.069500
75%,15702.500000,1.000000,1.000000,1.000000,0.000000,43.000000,3.781500
max,34153.000000,1.000000,1.000000,1.000000,1.000000,95.000000,173.604000

In [25]:
claiments_data.mean()

CASENUM     11202.001493
ATTORNEY        0.488806
CLMSEX          0.558735
CLMINSUR        0.907621
SEATBELT        0.017028
CLMAGE         28.414422
LOSS            3.806307
dtype: float64

In [26]:
claiments_data.std()

CASENUM     9512.750796
ATTORNEY       0.500061
CLMSEX         0.496725
CLMINSUR       0.289671
SEATBELT       0.129425
CLMAGE        20.304451
LOSS          10.636903
dtype: float64

In [27]:
claiments_data.head(30).mean()

CASENUM     284.033333
ATTORNEY      0.500000
CLMSEX        0.400000
CLMINSUR      0.892857
SEATBELT      0.033333
CLMAGE       32.214286
LOSS          3.749300
dtype: float64

In [28]:
claiments_data.tail(20).mean()

CASENUM     34023.650000
ATTORNEY        0.500000
CLMSEX          0.700000
CLMINSUR        0.950000
SEATBELT        0.000000
CLMAGE         22.705882
LOSS            1.872500
dtype: float64

In [29]:
claiments_data['CASENUM']

0           5
1           3
2          66
3          70
4          96
        ...
1335    34100
1336    34110
1337    34113
1338    34145
1339    34153
Name: CASENUM, Length: 1340, dtype: int64

In [30]:
claiments_data.CASENUM

0           5
1           3
2          66
3          70
4          96
        ...
1335    34100
1336    34110
1337    34113
1338    34145
1339    34153
Name: CASENUM, Length: 1340, dtype: int64

In [31]:
claiments_data[['CASENUM']]

      CASENUM
0           5
1           3
2          66
3          70
4          96
...       ...
1335    34100
1336    34110
1337    34113
1338    34145
1339    34153

[1340 rows x 1 columns]

In [32]:
claiments_data.ATTORNEY.describe()

count    1340.000000
mean        0.488806
std         0.500061
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000
Name: ATTORNEY, dtype: float64

In [33]:
claiments_data.LOSS.shape

(1340,)

In [34]:
claiments_data.LOSS.mean()

3.8063067164179145